<html>
	<head>
		<title>Proyecto De Ceros</title>
		<meta charset="utf-8">
		<style>
			h1
			{
				text-align: center;
				color: grey;
			}
			div
			{
				text-align: center;
				color: grey;
			}
		</style>
	</head>
	
	<body>
		<br>
		<br>
		<h1>Bienvenidos a MinTienda!!!</h1>
		<br>
		<br>
		
		<div>
			<form action="validar" method="post">
				Usuario: <input type="text" name="usuario"><br>
				Contraseña: <input type="password" name="contrasena"><br><br>
				<input type="submit" value="aceptar">
				<button>Cancelar</button>
			</form>
		</div>
	</body>
</html>